[package]
authors = ["The Tari Development Community"]
description = "Tari Universe"
edition = "2021"
name = "tari-universe"
repository = "https://github.com/tari-project/universe"
version = "0.7.6"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
embed-resource = "2.5.0"
tauri-build = {version = "1.5.5", features = ["isolation"]}

[dependencies]
anyhow = "1"
async-trait = "0.1.81"
async_zip = {version = "0.0.17", features = ["full"]}
auto-launch = "0.5.0"
base64 = "0.22.1"
blake2 = "0.10"
chrono = "0.4.38"
device_query = "2.1.0"
dunce = "1.0.5"
dyn-clone = "1.0.17"
flate2 = "1.0.30"
futures-lite = "2.3.0"
futures-util = "0.3.30"
human_format = "1.1.0"
jsonwebtoken = "9.3.0"
keyring = {version = "3.0.5", features = [
  "windows-native",
  "apple-native",
  "linux-native",
]}
libsqlite3-sys = {version = "0.25.1", features = [
  "bundled",
]}# Required for tari_wallet
log = "0.4.22"
log4rs = "1.3.0"
minotari_node_grpc_client = {git = "https://github.com/tari-project/tari.git", branch = "development"}
minotari_wallet_grpc_client = {git = "https://github.com/tari-project/tari.git", branch = "development"}
nix = {version = "0.29.0", features = ["signal"]}
nvml-wrapper = "0.10.0"
open = "5"
phraze = "0.3.15"
rand = "0.8.5"
regex = "1.10.5"
reqwest = {version = "0.12.5", features = ["stream", "json", "multipart"]}
sanitize-filename = "0.5"
semver = "1.0.23"
sentry = {version = "0.34.0", features = ["anyhow"]}
sentry-tauri = "0.3.0"
serde = {version = "1", features = ["derive"]}
serde_json = "1"
serde_yaml = "0.9.10"
sha2 = "0.10.8"
sys-locale = "0.3.1"
sysinfo = "0.31.2"
tar = "0.4.26"
tari_common = {git = "https://github.com/tari-project/tari.git", branch = "development"}
tari_common_types = {git = "https://github.com/tari-project/tari.git", branch = "development"}
tari_core = {git = "https://github.com/tari-project/tari.git", branch = "development", features = [
  "transactions",
]}
tari_crypto = "0.21.0"
tari_key_manager = {git = "https://github.com/tari-project/tari.git", branch = "development"}
tari_shutdown = {git = "https://github.com/tari-project/tari.git", branch = "development"}
tari_utilities = "0.8.0"
tauri = {version = "1.8.0", features = [
  "window-unmaximize",
  "window-unminimize",
  "os-all",
  "system-tray",
  "updater",
  "window-close",
  "window-hide",
  "window-maximize",
  "window-minimize",
  "window-show",
  "window-start-dragging",
  "window-maximize",
  "window-close",
  "macos-private-api",
  "isolation",
  "shell-open",
  "icon-ico",
  "icon-png",
  "process-command-api",
]}
tauri-plugin-single-instance = {git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1"}
thiserror = "1.0.26"
tokio = {version = "1", features = ["full"]}
tokio-util = {version = "0.7.11", features = ["compat"]}
xz2 = {version = "0.1.7", features = ["static"]}# static bind lzma
zip = "2.2.0"

[target.'cfg(windows)'.dependencies]
winreg = "0.52.0"

# needed for keymanager. TODO: Find a way of creating a keymanager without bundling sqlite
chrono = "0.4.38"
device_query = "2.1.0"
libsqlite3-sys = {version = "0.25.1", features = ["bundled"]}
log = "0.4.22"
nvml-wrapper = "0.10.0"
rand = "0.8.5"
sentry-tauri = "0.3.0"
sys-locale = "0.3.1"
# tonic = "0.12.0"

[features]
airdrop-env = []
airdrop-local = []
custom-protocol = [
  "tauri/custom-protocol",
] # This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
release-ci = ["tauri/custom-protocol"]
release-ci-beta = ["tauri/custom-protocol"]

[package.metadata.cargo-machete]
ignored = ["log4rs", "xz2", "libsqlite3-sys", "minotari_wallet_grpc_client"]
