[package]
name = "tari-universe"
version = "0.0.0"
description = "A Tauri App"
authors = ["you"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1", features = ["isolation"] }

[dependencies]
tari_common = { git = "https://github.com/tari-project/tari.git", branch = "development" }
tari_shutdown = { git = "https://github.com/tari-project/tari.git", branch = "development" }

anyhow = "1"
dirs-next = "2.0.0"
reqwest = { version = "0.12.5", features = ["stream", "json"] }
tauri = { version = "1", features = [
    "updater",
    "window-show",
    "window-unminimize",
    "window-minimize",
    "window-hide",
    "window-unmaximize",
    "window-start-dragging",
    "window-maximize",
    "window-close",
    "macos-private-api",
    "isolation",
    "shell-open",
    "process-command-api",
] }
tokio = { version = "1", features = ["full"] }
semver = "1.0.23"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
futures-util = "0.3.30"
flate2 = "1.0.30"
tar = "0.4.26"
async_zip = {  version ="0.0.17", features = ["full"] }
futures-lite = "2.3.0"
tokio-util = { version = "0.7.11", features = ["compat"] }
sanitize-filename = "0.5"
async-trait = "0.1.81"
sysinfo = "0.31.2"
log4rs = "1.3.0"


log = "0.4.22"


[features]
# This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

[package.metadata.cargo-machete]
ignored = ["log4rs"]
