<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Bundle Name="Tari Universe" Version="$(env.TARI_UNIVERSE_APP_VERSION)" Manufacturer="Tari Labs, LLC" UpgradeCode="ed60939d-f2b8-5b6e-a7af-bd0d5cf13e37" IconSourceFile="tari-win-bundler/resources/icon.ico" DisableModify="yes" ParentName="Tari Universe" >
		<OptionalUpdateRegistration Name="Tari Universe"  />
		
		<!-- <Log Disable="no" Extension=".txt" PathVariable=".\logs\log.txt" /> -->
		
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication LaunchTarget="C:/Program Files/Tari Universe/Tari Universe.exe" ShowVersion="yes" SuppressRepair="yes" SuppressOptionsUI="yes"  LogoFile="tari-win-bundler/resources/71x71.png" LogoSideFile="tari-win-bundler/resources/71x71.png" LicenseUrl="" Theme="hyperlinkLicense" ThemeFile="tari-win-bundler/Theme.xml" LocalizationFile="tari-win-bundler/Theme.wxl" />
			<Payload Name="clouds.bmp" SourceFile="tari-win-bundler/resources/clouds.bmp" Compressed="yes"/>
			<Payload Name="icon.ico" SourceFile="tari-win-bundler/resources/icon.ico" Compressed="yes"/>
		</BootstrapperApplication>


		<!-- processor architecture -->
		<util:RegistrySearch Id="REG_ARCH" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment" Value="PROCESSOR_ARCHITECTURE" Result="value" Variable="ARCH_NAME" />

		<!-- Visual C++ 2015-2022 Redistributable (x86) runtime minimum msi package version -->
		<util:ProductSearch Id="VCRUNTIME_X86" Result="version" Variable="VCRUNTIME_X86_VER" UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A" Condition="VersionNT" />

		<!-- Visual C++ 2015-2022 Redistributable (x64) runtime minimum msi package version -->
		<util:ProductSearch Id="VCRUNTIME_X64" Result="version" Variable="VCRUNTIME_X64_VER" UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35" Condition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)" After="REG_ARCH" />

		<!-- Visual C++ 2015-2022 Redistributable (Arm64) runtime msi package version -->
		<!-- <util:ProductSearch Id="VCRUNTIME_ARM64" Result="version" Variable="VCRUNTIME_ARM64_VER" UpgradeCode="DC9BAE42-810B-423A-9E25-E4073F1C7B00" Condition="(ARCH_NAME = &quot;ARM64&quot;)" After="REG_ARCH" /> -->

		<!-- Visual C++ 2015-2022 Redistributable runtime msi package version -->
		<Variable Name="VCRUNTIME_VER" Type="version" Value="14.40.33816.0" />
		
		<Chain>
			<!-- Visual C++ 2015-2022 Redistributable (x86) - 14.40.33810 -->
			<ExePackage Id="VC_REDIST_X86" DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.40.33816" Cache="remove" PerMachine="yes" Permanent="yes" Protocol="burn" InstallCondition="VersionNT AND (ARCH_NAME = &quot;x86&quot;)" DetectCondition="(VCRUNTIME_X86_VER &gt;= VCRUNTIME_VER) AND VersionNT" SourceFile="tari-win-bundler/executables/VC_redist.x86.exe" InstallArguments="/install /quiet /norestart" RepairArguments="/repair /quiet /norestart" UninstallArguments="/uninstall /quiet /norestart" />
			
			<!-- Visual C++ 2015-2022 Redistributable (x64) - 14.40.33816 -->
			<ExePackage Id="VC_REDIST_X64" DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.40.33816" Cache="remove" PerMachine="yes" Permanent="yes" Protocol="burn" InstallCondition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)" DetectCondition="(VCRUNTIME_X64_VER &gt;= VCRUNTIME_VER) AND VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)" SourceFile="tari-win-bundler/executables/VC_redist.x64.exe" InstallArguments="/install /quiet /norestart" RepairArguments="/repair /quiet /norestart" UninstallArguments="/uninstall /quiet /norestart" />

			<!-- Visual C++ 2015-2022 Redistributable (x86) - 14.40.33816 -->
			<!-- <ExePackage Id="VC_REDIST_ARM64" DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (Arm64) - 14.40.33816" Cache="remove" PerMachine="yes" Permanent="yes" Protocol="burn" InstallCondition="(ARCH_NAME = &quot;ARM64&quot;)" DetectCondition="(VCRUNTIME_ARM64_VER &gt;= VCRUNTIME_VER) AND (ARCH_NAME = &quot;ARM64&quot;)" SourceFile=".\executables\VC_redist.arm64.exe" InstallArguments="/install /quiet /norestart" RepairArguments="/repair /quiet /norestart" UninstallArguments="/uninstall /quiet /norestart" /> -->

			<!-- Tari Universe x64 -->
			<MsiPackage SourceFile="src-tauri\target\release\bundle\msi\$(env.TARI_UNIVERSE_INSTALLER_NAME)" After="VC_REDIST_X64" InstallCondition="VersionNT64"  Vital="yes" />		
		</Chain>
	</Bundle>
</Wix>