# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

# Ignore all JSON files in locales:
**/locales/**/*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

