---
name: CI

'on':
  workflow_dispatch:
  push:
    branches:
      - 'ci-*'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:

concurrency:
  # https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/v') || github.ref != 'refs/heads/development' || github.ref != 'refs/heads/nextnet' || github.ref != 'refs/heads/stagenet' }}

permissions: {}

env:
  TARI_NETWORK: esmeralda

jobs:
  cargo-checks:
    name: cargo checks (fmt, clippy, check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: create empty dist dir
        run: |
          mkdir dist

      - name: install dependencies (linux)
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends --assume-yes \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libprotobuf-dev \
            protobuf-compiler

      - name: install dependencies (linux/OpenCL)
        run: |
          sudo apt-get install --no-install-recommends --assume-yes \
            opencl-headers \
            ocl-icd-opencl-dev

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: swatinem/rust-cache@v2.7.5
        with:
          workspaces: './src-tauri -> target'

      - name: cargo format
        working-directory: ./src-tauri
        run: |
          rustup component add rustfmt
          cargo fmt --all -- --check

      - name: Build process-wrapper
        run: |
          cargo build --manifest-path process-wrapper/Cargo.toml
          cargo build --release --manifest-path process-wrapper/Cargo.toml

      - name: clippy lint
        working-directory: ./src-tauri
        env:
          AIRDROP_BASE_URL: http://localhost:4000
          AIRDROP_API_BASE_URL: http://localhost:3004
          AIRDROP_TWITTER_AUTH_URL: http://localhost:3004/auth/twitter
          TELEMETRY_API_URL: http://localhost:3004
          EXCHANGE_ID: universal
        run: |
          rustup component add clippy
          cargo install cargo-lints
          cargo lints clippy --all-targets --all-features

      - name: cargo check
        working-directory: ./src-tauri
        run: |
          cargo check --release --all-targets --workspace

  machete:
    name: machete
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: swatinem/rust-cache@v2.7.5
        with:
          workspaces: './src-tauri -> target'

      - name: Build process-wrapper
        run: |
          cargo build --manifest-path process-wrapper/Cargo.toml

      - name: cargo machete
        working-directory: ./src-tauri
        run: |
          cargo install --version 0.7.0 cargo-machete
          cargo machete

  tauri-test-build:
    name: tauri-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies (linux)
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends --assume-yes \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libprotobuf-dev \
            protobuf-compiler

      - name: install dependencies (linux/OpenCL)
        run: |
          sudo apt-get install --no-install-recommends --assume-yes \
            opencl-headers \
            ocl-icd-opencl-dev

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install dependencies (node)
        run: npm ci

      - uses: dtolnay/rust-toolchain@stable
      - uses: swatinem/rust-cache@v2.7.5
        with:
          workspaces: './src-tauri -> target'

      - name: Build process-wrapper
        run: |
          cargo build --release --manifest-path process-wrapper/Cargo.toml

      - name: cargo tauri build
        working-directory: ./src-tauri
        run: |
          cargo install tauri-cli
          cargo tauri --version
          cargo tauri build --ci --no-bundle

  file-licenses:
    name: file-licenses
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install ripgrep
        run: |
          # https://github.com/BurntSushi/ripgrep/releases/download/14.1.1/ripgrep_14.1.1-1_amd64.deb.sha256
          wget -v https://github.com/BurntSushi/ripgrep/releases/download/14.1.1/ripgrep_14.1.1-1_amd64.deb
          sudo dpkg -i ripgrep_14.1.1-1_amd64.deb
          rg --version || exit 1
      - name: run the license check
        run: ./scripts/file_license_check.sh

  test:
    name: "lil' testy tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: create empty dist dir
        run: |
          mkdir dist
      - uses: dtolnay/rust-toolchain@stable
      - uses: swatinem/rust-cache@v2.7.5
        with:
          workspaces: './src-tauri -> target'

      - name: install dependencies (linux)
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends --assume-yes \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libprotobuf-dev \
            protobuf-compiler

      - name: install dependencies (linux/OpenCL)
        run: |
          sudo apt-get install --no-install-recommends --assume-yes \
            opencl-headers \
            ocl-icd-opencl-dev

      - name: Build process-wrapper
        run: |
          cargo build --release --manifest-path process-wrapper/Cargo.toml

      - name: cargo test
        working-directory: ./src-tauri
        env:
          AIRDROP_BASE_URL: http://localhost:4000
          AIRDROP_API_BASE_URL: http://localhost:3004
          AIRDROP_TWITTER_AUTH_URL: http://localhost:3004/auth/twitter
          TELEMETRY_API_URL: http://localhost:3004
          EXCHANGE_ID: universal
        run: cargo test --locked --all-features --release

  frontend-tests:
    name: Frontend Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run frontend tests
        run: npm run test

      - name: Run frontend tests with coverage
        run: npm run test:coverage
